<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="nanoFramework.CoreLibrary" version="1.10.4-preview.11" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Hardware.Stm32" version="1.8.1-preview.39" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Json" version="2.0.1-preview.111" targetFramework="netnanoframework10" />
  <package id="nanoFramework.M2Mqtt" version="4.6.1-preview.72" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Networking.Sntp" version="1.5.3-preview.37" targetFramework="netnanoframework10" />
  <package id="nanoFramework.ResourceManager" version="1.1.2-preview.37" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Runtime.Events" version="1.9.0-preview.26" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Runtime.Native" version="1.5.1-preview.41" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Collections" version="1.2.0-preview.53" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Device.Gpio" version="1.0.0-preview.40" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Device.I2c" version="1.0.1-preview.33" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Device.Spi" version="1.0.0-preview.38" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Math" version="1.4.0-preview.7" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Net" version="1.6.5-preview.23" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Text" version="1.1.1-preview.50" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Windows.Devices.Adc" version="1.5.1-preview.41" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Windows.Storage" version="1.4.4-preview.77" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Windows.Storage.Streams" version="1.12.2-preview.4" targetFramework="netnanoframework10" />
</packages>